# Alpaca
ALPACA_API_KEY=[YOUR_ALPACA_API_KEY]
ALPACA_API_SECRET=[YOUR_ALPACA_API_SECRET]
ALPACA_API_BASE_URL=https://paper-api.alpaca.markets

# Zenvest
ZENVEST_API_KEY=[YOUR_ZENVEST_API_KEY]
ZENVEST_API_BASE_URL=https://api.zenvest.ai

# Alphavantage
ALPHAVANTAGE_API_KEY=[YOUR_ZENVEST_API_KEY]
ALPHAVANTAGE_API_BASE_URL=https://www.alphavantage.co/query?
